In [1]:


for i in range(1,4):
    print(i)

1
2
3

In [2]:
[1,2,3]

[1, 2, 3]

In [4]:
for i in [1,2,3]:
    print(i)

1
2
3

In [5]:
for i in [1,2,3]:
    print(i + 1)

2
3
4

In [6]:
a = []
for i in [1,2,3]:
    a.append(i)

In [7]:
a

[1, 2, 3]

In [8]:
for i in [1,2,3]:
    a.append(i+1)

In [9]:
a

[1, 2, 3, 2, 3, 4]

In [10]:
a = []
for i in [1,2,3]:
    a.append(i+1)

In [11]:
a

[2, 3, 4]

In [13]:
b = [i + 1 for i in [1,2,3]]

In [14]:
b

[2, 3, 4]

In [21]:
def calcul(i):
    c = i*2*3+i
    return c

In [25]:
b = [calcul(i) for i in [1,2,3]]

In [26]:
b

[7, 14, 21]

In [27]:
[i+1 for i in [1,2,3] if i%2==0]

[3]

In [29]:
a = []
for i in [1,2,3]:
    if i%2 == 0:
    a.append(i+1)

IndentationError: expected an indented block after 'if' statement on line 3 (2063891930.py, line 4)

In [32]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)
number_list.append(6)

In [33]:
number_list

[1, 2, 3, 4, 5, 6]

In [34]:
number_list = []
for number in range(1,6):
    number_list.append(number)

In [35]:
number_list = list(range(1,6))

In [36]:
number_list= [number for number in range(1,6)]

In [37]:
number_list

[1, 2, 3, 4, 5]

In [38]:
number_list= [number-1 for number in range(1,6)]
number_list

[0, 1, 2, 3, 4]

In [39]:
a_list= [number for number in range(1,6) if number % 2 == 1]

In [40]:
a_list

[1, 3, 5]

In [41]:
a_list = []
for number in range(1,6):
    if number%2 == 1:
        a_list.append(number)

In [42]:
sentence = ['I','LOVE','PYTHON','SOOOOOO','MUCH!!']

In [43]:
[word.lower() for word in sentence]

['i', 'love', 'python', 'soooooo', 'much!!']

In [44]:
[word for word in sentence if len(word)> 6]

['SOOOOOO']

In [45]:
[(x,x**2,x**3)for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [48]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
    for col in cols:
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [49]:
rows = range(1,4)
cols = range(1,3)
cells = [(row,col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [50]:
[(i,j)for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [51]:
word = 'letters'
letter_counts = {letter: word.count(letter)for letter in word}

In [52]:
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [53]:
word = 'letters'
letter_counts= {letter: word.count(letter) for letter in word}

In [55]:
word = 'letters'
letter_counts= {letter: word.count(letter) for letter in set(word)}

In [56]:
a_set= {number for number in range(1,6) if number % 3 == 1}

In [57]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ": drink", drink, "-eat", fruit, "-enjoy", dessert)

Monday : drink coffee -eat banana -enjoy tiramisu
Tuesday : drink tea -eat orange -enjoy ice cream
Wednesday : drink beer -eat peach -enjoy pie

In [58]:
english= 'Monday', 'Tuesday', 'Wednesday'
french= 'Lundi', 'Mardi', 'Mercredi'

In [59]:
list( zip(english, french) )

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [60]:
dict(zip(english, french))

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [64]:
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [63]:
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [65]:
def menu(wine, entree, dessert=‘pudding’):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

SyntaxError: invalid character '‘' (U+2018) (2220177038.py, line 1)

In [67]:
def menu(price, wine='chardonnay', entree= 'chicken’,dessert=‘pudding’):
        return {’price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

SyntaxError: unterminated string literal (detected at line 1) (1359043299.py, line 1)

In [68]:
def menu(price, wine='chardonnay', entree='chicken’,dessert=‘pudding’):
        return {’price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

SyntaxError: unterminated string literal (detected at line 1) (2312547723.py, line 1)

In [70]:
def echo(anything):
    return anything

In [71]:
def print_if_true(thing, check):
    if check:
        print(thing)